---
import NavItem from "./components/layout/NavItem";

const {title} = Astro.props;
const pathname = new URL(Astro.request.url).pathname;

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<title>{title} :: Tzokin.me</title>
	</head>

	<body>
    <div class="min-w-full min-h-screen bg-gray-300">
    <div class="flex flex-col h-screen">
      <main class="flex-grow w-full h-full overflow-auto">
        <slot/>
      </main>
      <nav class="h-12 flex items-stretch justify-center bg-green-400 text-white uppercase text-sm font-semibold">
        <NavItem current={pathname} to="/">Sincronario</NavItem>
        <NavItem current={pathname} to="/seres">Seres</NavItem>
      </nav>
    </div>
  </div>
		<script src="/src/index.js"></script>
	</body>
</html>
